<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head', {
    title : 'Detalle'
}) %>
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/movies">Peliculas</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Pelicula:<%= movie.title %> </li>
                </ol>
            </nav>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-4">
                    <img class="img-fluid" src="/img/<%= movie.image || 'moviedefault.png' %>" alt="">
                </div>
                <div class="col-12 col-md-8">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b><%= movie.title.toUpperCase() %></b></li>
                        <li class="list-group-item"><b>Genero:</b> <%= movie.genre ? movie.genre.name : 'SIN ESPECIFICAR' %> </li>
                        <li class="list-group-item"><b>Fecha de lanzamiento: </b><%= movie.release_date %> </li>
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between">
                                <span>
                                    <b>Duracion: </b><%= movie.length + ' min'%>
                                </span>
                                <span>
                                    <b>Premios: </b><%= movie.awards %>
                                </span>
                                <span>
                                    <b>Rating: </b><%= movie.rating %>
                                </span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <h5 class="fw-bold">Actores:</h5>
                            <% if (movie.actors.length){ %>
                                <ul class="list-group list-group-flush">
                                <% movie.actors.forEach(actor => {%>
                                    <li class="list-group-item"><%= actor.first_name %><%= actor.last_name %></li>
                                <%})%>
                                </ul>
                            <% } else { %> 
                                <p class="text-muted"> No hay actores vinculado con esta pelicula</p>
                            <% } %>
                        </li>
                      </ul>
                </div>
            </div>
        </div>
        <section>
        <!--Aquí debe colocar los botones de Modificar - Borrar y Listado de Películas-->
            <a class="botonAgregar" href="/movies/edit/<%= movie.id %>">Editar Pelicula</a>
        </section>
    </div>
    
<%- include ('./partials/scripts') %>
</body>
</html>