<!DOCTYPE html>
<html lang="es">

<%- include ('./partials/head', {
    title : 'Edicion'
}) %>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
      </figure>
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/movies">Peliculas</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Pelicula:<%= Movie.title %> </li>
                </ol>
            </nav>
        </div>
    
        <div class="card-body">
            <form action="/movies/update/<%= Movie.id %>" class="row" method="POST">
                <div class="mb-3 col-12 col-md-3">
                    <label class="form-label" for="title">Title </label>
                    <input class="form-control"  type="text" name="title" id="" value="<%= Movie.title %>" required>
                </div>
                <div class="mb-3 col-12 col-md-3">
                    <label class="form-label" for="rating">Rating </label>
                    <input  class="form-control" type="number" name="rating" id="" value="<%= Movie.rating %>" required>
                </div>
                <div class="mb-3 col-12 col-md-3">
                    <label class="form-label" for="awards">Awards </label>
                    <input  class="form-control" type="number" name="awards" id="" value="<%= Movie.awards %>" required>
    
                </div>
                <div class="mb-3 col-12 col-md-3">
                    <label class="form-label" for="release_date">Release date </label>
                    <input  class="form-control" type="date" name="release_date" id="" value="<%= moment(Movie.release_date).format('YYYY-MM-DD') %>">
                </div>
                <div class="mb-3 col-12 col-md-3">
                    <label class="form-label" for="length">Length </label>
                    <input  class="form-control" type="number" name="length" id="" value="<%= Movie.length %>" required>
    
                </div>
                <div class="mb-3 col-12 col-md-3">
                    <label class="form-label" for="genre_id">Genero </label>
                    <select class="form-control" name="genre_id" id="" required>
                        <% genres.forEach(genre => { %>
                            <option value="<%= genre.id %>" <% if (Movie.genre_id == genre.id) { %><%= 'selected' %><% }; %>><%= genre.name %></option>
                        <% }); %>
                    </select>
                </div>
                <div class="mb-3 col-12 col-md-3">
                    <label for="formFile" class="form-label">Cambiar imágen</label>
                    <input class="form-control" type="file" id="formFile" name="image">
                </div>
                
               <div class="mb-3 col-12 ">
                    <div class="row">
                        <label for="">Actores</label>
                        <% actors.forEach(actor => { %>
                            <div class="col-12 col-md-3">
                                <div class="form-check">
                                    <input name="actors" class="form-check-input" type="checkbox" <%= Movie.actors.map(actor=> actor.id).includes(actor.id) && 'checked'  %> value="<%= actor.id %>" id="flexCheckDefault">
                                    <label class="form-check-label" for="actor<%= actor.id %>">
                                        <%= actor.first_name %> <%= actor.last_name %> 
                                    </label>
                                </div>
                            </div>
                        <%}); %>
                    </div>
               </div>
               <div class="mb-3 col-12 d-flex align-items-end">
                    <button class="btn btn-outline-dark w-100" type="submit">Actualizar</button>
               </div>
            
            
                <a  class="botonVolver" href="/movies">Listado de Películas</a></p>
            </form>
        </div>
    </div>
    <%- include ('./partials/scripts') %>
</body>

</html>